body{
    margin: 100px;
    margin-top: 0px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

*{ 
    margin: 0px;
    padding: 0px;
}

@import url('http://fonts.googleap.com/css?family=lato:400,700');

#showcase {
    background-image: url(assets/h_img.jpg);
    height:100vh;
    background-size:cover;
    background-position:relative;
    background-repeat:no-repeat;
    color: white;
}
.logo {
    position: relative;
    left: 700px;
    margin-top: 200px;
}

.title{
    position: relative;
    top: 80px;
    text-align: center;
}
#subheading{
    position: relative;
}
.paragraph{
    position: relative;
    top: 80px;
    text-align: center;
}
.mouse {
    position: relative;
    top: 210px;
    margin-left: 50%;
}
.section-a{
    position: relative;
    text-align: center;
    margin-top: 20px;
    color: black;
} 
.section-b{
    background-image: url(assets/s_image.jpg);
    height: 300px;
    color: #fff;
}
#cd {
    position: relative;
    text-align: center;
    top: 48px;
}
.icondiv {
    margin-top: 35px;
    margin-bottom: 35px;
    
}
.icondiv > h2 {
    text-align: center;
}

.col-md-3 {
    padding: 15px;
}
.col-md-3:hover {
    opacity: 0.3;
}
.col-md-3 > img{
    width: 200px;
}
.form_input{
    width: 400px ;
    margin-bottom: 20px;
    border-style: solid;
    border-color: white;
}
#contact-us{
    background-image: url(assets/c_image.jpg);
}
.form{
    opacity: 0.5;
    margin-left: 200px;
    background: transparent;

}
.contact-us{
    height: 380px ;
}
.button{
    position:relative;
    background-color: white;
    margin-left: 43%;
}
.end {
    color: black;
    margin-left: 200px;
}
.footer {
    margin-left: 500px;
}
.design-hidden {
    display: none;
}
.development-hidden {
    display: none;
}
.product-hidden {
    display: none;
}
h3{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color:black;
}

.footer > ul >li{
display: inline;

}